<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <label for="name">*Nome:</label>
    <input type="text" name="nameAdmin" id="nameAdmin" placeholder="Ex: Nome Sobrenome">

    <br>
    <label for="email">*Email:</label>
    <input type="email" name="emailAdmin" id="emailAdmin" placeholder="Ex: examplen@email.com">

    <br>
    <label for="pass">*Senha:</label>
    <input type="password" name="passAdmin" id="passAdmin" placeholder="Ex: S3nh@">

    <br>
    <button type="button" onclick="window.location.href='/view/mainretaguarda.html'">Entrar</button>

    <br>
    <p>Não tem o cadastro?</p>
    <a href="/view/users/client.html">Cadastre-se!</a>
</body>
</html>