<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
</head>
<body>
    <a href="/view/menu/category.html">Categoria</a><br>
    <a href="/view/menu/product.html">Produto</a><br>
    <a href="/view/payment/paymentCondition.html">Condição de Pagamento</a><br>
    <a href="/view/payment/payment.html">Pagamento</a><br>
    <a href="/view/stock/stockCategory.html">Categoria de Estoque</a><br>
    <a href="/view/stock/stockMoviment.html">Movimentação de Estoque</a><br>
    <a href="/view/enterprise/site.html">Site</a><br>
    <a href="/view/enterprise/enterprise.html">Empresa</a><br>
    <a href="/view/users/admin.html">Admin</a><br>
</body>
</html>