<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
</head>
<body>
    <label for="name">*Nome:</label>
    <input type="text" name="name" id="namePayment" placeholder="Ex: Pix"><br>

    <label for="img">*Imagem:</label><br>
    <button type="button">Card</button>
    <button type="button">Pix</button>
    <button type="button">Money</button>
    <button type="button">Others</button>
    <button type="button">Voucher</button>

    <br>
    <label for="paymentCondition">*Condição de pagamento:</label>
    <input type="button" value="A vista">
    <input type="button" value="12x">
    <input type="button" value="48x">
    <input type="button" value="30/60/90">
    
    <br>
    <label for="status">Status:</label>
    <input type="checkbox" name="status" id="statusPayment">

    <br>
    <button type="button">Cancelar</button>
    <button type="submit">Salvar</button>
</body>
</html>