<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaymentCondition</title>
</head>
<body>
    <label for="name">*Nome:</label>
    <input type="text" name="name" id="namePaymentCondition" placeholder="Ex: 48x">
    
    <br>
    <label for="status">Status:</label>
    <input type="checkbox" name="status" id="statusPaymentCondition">

    <br>
    <button type="button">Cancelar</button>
    <button type="submit">Salvar</button>
</body>
</html>