<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enterprise</title>
</head>
<body>
    <label for="name">*Nome da empresa:</label>
    <input type="text" name="nameEnterprise" id="nameEnterprise" placeholder="Ex: Nome da Empresa">

    <label for="logo">Logo:</label>
    <input type="file" name="logo" id="logo">

    <br>
    <label for="cell">*Telefone:</label>
    <input type="tel" name="cellEnterprise" id="cellEnterprise" placeholder="Ex: (12) 34567-8900">

    <br>
    <label for="insta">Instagram:</label>
    <input type="url" name="insta" id="insta" placeholder="Ex: instagram.com/oblivion/">

    <br>
    <label for="insta">Facebook:</label>
    <input type="url" name="insta" id="insta" placeholder="Ex: facebook.com/oblivion/">

    <br>
    <label for="insta">Email:</label>
    <input type="email" name="email" id="email" placeholder="Ex: example@email.com">

    <br>
    <button type="button">Cancelar</button>
    <button type="submit">Salvar</button>
</body>
</html>