<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
</head>
<body>
    <p>*URL do Ecommerce</p>
    <label for="dominio">https://oblivion.app/</label><input type="text" placeholder="Ex: nome-da-loja">
    <br>
    <label for="color1">Cor principal:</label>
    <input type="color" name="color1" id="color1">

    <br>
    <label for="color2">Cor secundária:</label>
    <input type="color" name="color2" id="color2">

    <br>
    <label for="colortext">Cor de texto:</label>
    <input type="color" name="colortext" id="colortext">

    <br>
    <button type="button">Cancelar</button>
    <button type="submit">Salvar</button>
</body>
</html>