<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client</title>
</head>
<body>
    <label for="name">*Nome:</label>
    <input type="text" name="nameClient" id="nameClient" placeholder="Ex: Nome Sobrenome">

    <br>
    <label for="cpf">*Cpf:</label>
    <input type="text" name="cpf" id="cpf" placeholder="Ex: 123.456.789-10">

    <br>
    <label for="cell">*Telefone:</label>
    <input type="tel" name="cellClient" id="cellClient" placeholder="Ex: (10) 98765-4321">

    <br>
    <label for="email">*Email:</label>
    <input type="email" name="emailClient" id="emailClient" placeholder="Ex: client@email.com">

    <br>
    <label for="pass">*Senha:</label>
    <input type="password" name="passAdmin" id="passAdmin" placeholder="Ex: S3nh@">

    <br>
    <button type="button">Cancelar</button>
    <button type="submit" onclick="">Salvar</button>
</body>
</html>