<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <label for="name">*Nome:</label>
    <input type="text" name="name" id="nameProduct" placeholder="Ex: Brincos Prateados">

    <label for="cod">*Código:</label>
    <input type="number" name="cod" id="codProduct" placeholder="Ex: 12345">

    <label for="img">Imagem:</label>
    <input type="file" name="img" id="imgProduct">

    <br>
    <label for="description">Descrição:</label>
    <input type="text" name="description" id="descriptionProduct" placeholder="Ex: Folheados a Prata.">

    <br>
    <label for="category">*Categoria:</label>
    <select name="category" id="category">
        <option value="joias">Joias</option>
        <option value="colar">Colar</option>
        <option value="anel">Anel</option>
        <option value="roupa">Roupa</option>
    </select>

    <br>
    <label for="preci">Preço:</label>
    <input type="number" name="preci" id="preciProduct" placeholder="Ex: 39.99">

    <br>
    <label for="status">Status:</label>
    <input type="checkbox" name="status" id="statusProduct">

    <br>
    <button type="button">Cancelar</button>
    <button type="submit">Salvar</button>

</body>
</html>